<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<html>
<head>
<style>
  .row {
  		align-content: center;
  		text-align-last: center;
  		 margin-left: 3rem;
  		 margin-right: 10rem;
      }
         .subtitle {
        color: black;
        margin-left: 12rem;
      }
      </style>
<meta charset="ISO-8859-1">
<title>Add in "About Me"</title>
</head>

<!-- Content Section -->
<section layout:fragment="content">

	<body>
		<h1 style="list-style-type: none;font-weight: bold; color: black; padding-inline-start: 320px; margin-left: 21rem"> Add in "About Me" section</h1>
		<form action="/addAbout" th:object="${about}" class="form"
			method="post">

			<div class="row" >
				<div style=" margin-bottom: 1rem;margin-left: 1.3rem">
					<label class="subtitle" style="font-size : 20px">Goal</label> 
					<input class="form-control" style=" margin-left: 2rem; height: 30px;width: 200px; background: white; align-content: center; color: pink; font-weight: bold; border-radius:10px" name="scop" th:value="${about?.scop}" />
				</div>
				<div >
					<label class="subtitle" style="font-size : 20px">Description</label> 
					<input style="  height: 30px;width: 200px; background: white; align-content: center; color: pink; font-weight: bold; border-radius:10px" name="descriere" th:value="${about?.descriere}" />
				</div>
			</div>
	
			<div class="row">
				<div class="col">
					<button type="submit" style=" margin-left: 12rem;margin-top: 1rem; height: 30px;width: 150px; background: pink; align-content: center; color: black; font-weight: bold; border-radius:20px">Add</button>
				</div>
			</div>
		 
		</form>		
		<tr>
   <button onclick="window.location.href='about'" style=" margin-left: 40.7rem;margin-top: 3rem; height: 30px;width: 300px; background: pink; align-content: center; color: black; font-weight: bold; border-radius:20px">
  		Back to "About Me" section
	</button></tr>
	
	<tr>
   <button onclick="window.location.href='http://localhost:8080/'" style=" margin-left: 40.7rem;margin-top: 1rem; height: 30px;width: 300px; background: pink; align-content: center; color: black; font-weight: bold; border-radius:20px">
  		  Back to Home Page
	</button></tr>
</body>
</html>