<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<html>
<head>
<meta charset="ISO-8859-1">
<title>Add Edu</title>
</head>

<!-- Content Section -->
<section layout:fragment="content">

	<body>
		<h2 class="text-center">Adauga in sectiunea "Educatie"</h2>
		<form action="/addEdu" th:object="${edu}" class="form"
			method="post">

			<div class="row">
				<div class="form-group col-6">
					<label>Tip</label> 
					<input class="form-control" name="tip" th:value="${edu?.tip}" />
				</div>
			</div>
			<div class="row">
				<div class="form-group col-6">
					<label>Specializare</label> 
					<input class="form-control" name="specializare" th:value="${edu?.specializare}" />
				</div>
			</div>
			<div class="row">
				<div class="form-group col-6">
					<label>Institutie</label> 
					<input class="form-control" name="institutie" th:value="${edu?.institutie}" />
				</div>
			</div>
			
			<div class="row">
				<div class="form-group col-6">
					<label>Perioada</label> 
					<input class="form-control" name="perioada" th:value="${edu?.perioada}" />
				</div>
			</div>
	
	
			<div class="row">
				<div class="col">
					<button type="submit" class="btn btn-success btn-block">Adauga</button>
				</div>
			</div>
		</form>
		<tr>
    <button onclick="window.location.href='edu'">
  Inapoi in sectiunea "Educatie"
</button></tr>
	</body>
</html>