<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<html>
<head>
<style>
  .row {
  		align-content: center;
  		text-align-last: center;
  		 margin-left: 3rem;
  		 margin-right: 10rem;
      }
         .subtitle {
        color: black;
        margin-left: 12rem;
      }
      </style>
<meta charset="ISO-8859-1">
<title>Add in "Education"</title>
</head>

<!-- Content Section -->
<section layout:fragment="content">

	<body>
		<h1 style="list-style-type: none;font-weight: bold; color: black; padding-inline-start: 320px; margin-left: 21rem">Add in "Education" section</h1>
		<form action="/addEdu" th:object="${edu}" class="form"
			method="post">

			<div class="row">
				<div style=" margin-bottom: 1rem">
					<label class="subtitle" style="font-size : 20px">Degree Type</label> 
					<input style=" margin-left:1rem; height: 30px;width: 200px; background: white; align-content: center; color: pink; font-weight: bold; border-radius:10px" name="tip" th:value="${edu?.tip}" />
				</div>
			</div>
			<div class="row">
				<div style=" margin-bottom: 1rem">
					<label class="subtitle" style="font-size : 20px">Specilization</label> 
					<input style=" margin-left: 0.7rem; height: 30px;width: 200px; background: white; align-content: center; color: pink; font-weight: bold; border-radius:10px" name="specializare" th:value="${edu?.specializare}" />
				</div>
			</div>
			<div class="row">
				<div style=" margin-bottom: 1rem">
					<label class="subtitle" style="font-size : 20px">Institution</label> 
					<input style=" margin-left: 2rem; height: 30px;width: 200px; background: white; align-content: center; color: pink; font-weight: bold; border-radius:10px" name="institutie" th:value="${edu?.institutie}" />
				</div>
			</div>
			
			<div class="row">
				<div style=" margin-bottom: 1rem">
					<label class="subtitle" style="font-size : 20px">Period</label> 
					<input style=" margin-left: 4rem; height: 30px;width: 200px; background: white; align-content: center; color: pink; font-weight: bold; border-radius:10px" name="perioada" th:value="${edu?.perioada}" />
				</div>
			</div>
	
			<div class="row">
				<div class="col">
					<button type="submit" style=" margin-left: 12rem;margin-top: 1rem; height: 30px;width: 150px; background: pink; align-content: center; color: black; font-weight: bold; border-radius:20px">Add</button>
				</div>
			</div>
		</form>
		<tr>
       <button onclick="window.location.href='edu'" style=" margin-left: 40.7rem;margin-top: 3rem; height: 30px;width: 300px; background: pink; align-content: center; color: black; font-weight: bold; border-radius:20px">
  			  Back to "Education" section
		</button></tr>
		<tr>
   <button onclick="window.location.href='http://localhost:8080/'" style=" margin-left: 40.7rem;margin-top: 1rem; height: 30px;width: 300px; background: pink; align-content: center; color: black; font-weight: bold; border-radius:20px">
  		Back to Home Page
	</button></tr>
	</body>
</html>