<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Educatie</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>    
<table>
    <thead>
   	 <tr>
    	<th> Tip </th>
    	<th> Specializare </th>
    	<th> Institutie </th>
    	<th> Perioada </th>
    	
    	</tr>
    </thead>

    <tbody>
    	<tr th:each="m : ${edu}">
    	<td><span th:text="${m.tip}"> tip </span></td>
    	<td><span th:text="${m.specializare}"> specializare </span></td>
    	<td><span th:text="${m.institutie}"> institutie </span></td>
    	<td><span th:text="${m.perioada}"> perioada </span></td>
    	
    	</tr>
    </tbody>

  </table>
   <tbody>
     <tr>
    <button onclick="window.location.href='addEdu'">
  Adauga in sectiunea "Educatie"
</button></tr>
 </tbody>
</body>
</html>